<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReactNetTest</title>
</head>
<body>
    <div>
        <h1>Master Layout</h1>

        @RenderBody()
    </div>

    <script src="~/Frontend/dist/client.bundle.js" type="text/javascript"></script>

</body>
</html>
