<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReactNetTest</title>
</head>
<body>
    <div>
        <h1>Master Layout</h1>

        <!-- Entry point for client side react -->
        <div id="root"></div>

        @RenderBody()
    </div>
</body>
</html>
